@import 'nib'
@import bootstrap

@import url('http://fonts.googleapis.com/css?family=Quicksand')

global-reset()

main-color = #55acee

body
  padding-top: 20px
  padding-bottom: 20px

#title
  color #000
  text-align center
  text-shadow 0px -1px 0px darken(main-color, 30%)

.navbar
  margin-bottom: 20px

.container
  overflow hidden
